<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <provider
            android:name="page.suchi.companion.TestShareProvider"
            android:authorities="page.suchi.companion.test.share"
            android:exported="true"
            android:grantUriPermissions="true" />
    </application>
</manifest>
